# backend
__pycache__
.venv
.vscode
.mypy_cache

# local env
.env
volume
db*.sqlite3
db*.sqlite3-journal
backend/artwork/artwork

# docker
env/auto3t.env
docker-compose.override.yml

# frontend
node_modules
frontend/README.md
frontend/.env.development
