repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        alias: python
        files: ^backend/
        args: ["--line-length=120"]
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort (python)
        alias: python
        files: ^backend/
        args: ["--profile", "black", "-l 120"]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        alias: python
        files: ^backend/
        args: [ "--max-complexity=10", "--max-line-length=120" ]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.0
    hooks:
      - id: codespell
        exclude: ^frontend/package-lock.json
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.19.0
    hooks:
      - id: eslint
        name: eslint-frontend
        entry: npm run --prefix ./frontend lint
        language: node
        files: ^frontend/
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: prettier-frontend
        entry: npm run --prefix ./frontend format
        language: node
        files: ^frontend/
        pass_filenames: false

exclude: 'migrations/.*'
