version: '3.5'

services:
  jackett:
    image: lscr.io/linuxserver/jackett
    container_name: jackett
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Zurich
      - AUTO_UPDATE=false
    volumes:
      - ./volume/jackett/config:/config
      - ./volume/jackett/downloads:/downloads
    ports:
      - 127.0.0.1:9117:9117
  redis:
    image: redis
    container_name: redis
    restart: unless-stopped
    ports:
      - 127.0.0.1:6379:6379
