services:
  # auto3t services
  auto3t:
    container_name: auto3t
    restart: unless-stopped
    user: 1000:1000                             # run container under your user
    image: ghcr.io/auto3t/auto3t
    volumes:
      - auto3t:/data                            # application data
      - downloads:/downloads                    # shared with transmission container
      - media:/media                            # shared with jellyfin container
    environment:
      - REDIS_CON=redis://autot-redis:6379
      - TZ=America/New_York
      - JF_URL=http://auto3t-jellyfin:8096
      - JF_API_KEY=xxxxx
      - MOVIE_DB_API_KEY=yyyyy
      - PRR_URL=http://auto3t-prowlarr:9696
      - PRR_KEY=zzzz
      - TM_URL=auto3t-transmission
      - TM_PORT=9091
      - TM_USER=transmission
      - TM_PASS=transmission
      - TM_BASE_FOLDER=/downloads/complete      # configure base for complete folder
      - TV_BASE_FOLDER=/media/tv
      - MOVIE_BASE_FOLDER=/media/movie
    ports:
      - 127.0.0.1:8000:8000
    depends_on:
      - auto3t-redis
  auto3t-redis:
    image: redis
    container_name: auto3t-redis
    restart: unless-stopped
    expose:
      - "6379"

  # additional services
  auto3t-prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: auto3t-prowlarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - prowlarr:/config
    ports:
      - 127.0.0.1:9696:9696
  auto3t-jellyfin:
    image: jellyfin/jellyfin:10.10.7
    container_name: auto3t-jellyfin
    restart: unless-stopped
    volumes:
      - jellyfin-config:/config
      - jellyfin-cache:/cache
      - media:/media                          # shared with auto3t container
    ports:
      - 127.0.0.1:8096:8096
  auto3t-transmission:
    image: linuxserver/transmission
    container_name: auto3t-transmission
    restart: unless-stopped
    environment:
      - PUID=1000                             # matching with auto3t user
      - PGID=1000                             # matching with auto3t user
      - USER=transmission
      - PASS=transmission
    volumes:
      - transmission-config:/config
      - transmission-watch:/watch
      - downloads:/downloads                  # shared with auto3t container
    ports:
      - 127.0.0.1:9091:9091

volumes:
  auto3t:
  downloads:
  media:
  prowlarr:
  jellyfin-config:
  jellyfin-cache:
  transmission-config:
  transmission-watch:
