services:
  # auto3t services
  auto3t:
    container_name: auto3t
    restart: "no"
    user: 1000:1000
    build:
      context: .
      args:
        - INSTALL_DEBUG=1
    volumes:
      - ./volume/auto3t:/data
      - ./volume/downloads:/downloads
      - ./volume/media:/media
    env_file:
      - env/auto3t.env
    ports:
      - 127.0.0.1:8000:8000
    depends_on:
      - auto3t-redis
  auto3t-redis:
    image: redis
    container_name: auto3t-redis
    restart: "no"
    ports:
      - 127.0.0.1:6379:6379

  # additional services
  auto3t-prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: auto3t_prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Vientiane
    volumes:
      - ./volume/prowlarr/data:/config
    ports:
      - 127.0.0.1:9696:9696
    restart: "no"
  auto3t-jellyfin:
    image: jellyfin/jellyfin
    container_name: auto3t-jellyfin
    restart: "no"
    volumes:
      - ./volume/jellyfin/config:/config
      - ./volume/jellyfin/cache:/cache
      - ./volume/media/movie/:/media/movie
      - ./volume/media/tv/:/media/tv
    ports:
      - 127.0.0.1:8096:8096
  auto3t-transmission:
    image: lscr.io/linuxserver/transmission
    container_name: auto3t-transmission
    restart: "no"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Vientiane
      - USER=transmission
      - PASS=transmission
    volumes:
      - ./volume/transmission/config:/config
      - ./volume/transmission/watch:/watch
      - ./volume/downloads:/downloads
    ports:
      - 127.0.0.1:9091:9091
