services:
  autot:
    container_name: autot
    restart: "no"
    user: 1000:1000
    build:
      context: .
      args:
        - INSTALL_DEBUG=1
    volumes:
      - ./volume/autot:/data
      - ./volume/downloads:/downloads
      - ./volume/media:/media
    env_file:
      - env/autot.env
    ports:
      - 127.0.0.1:8000:8000
    depends_on:
      - autot-redis
      - autot-jackett
  autot-redis:
    image: redis
    container_name: autot-redis
    restart: "no"
    ports:
      - 127.0.0.1:6379:6379
  autot-jackett:
    image: lscr.io/linuxserver/jackett
    container_name: autot-jackett
    restart: "no"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Zurich
      - AUTO_UPDATE=false
    volumes:
      - ./volume/jackett/config:/config
      - ./volume/jackett/downloads:/downloads
    ports:
      - 127.0.0.1:9117:9117
  autot-jellyfin:
    image: jellyfin/jellyfin
    container_name: autot-jellyfin
    restart: "no"
    volumes:
      - ./volume/jellyfin/config:/config
      - ./volume/jellyfin/cache:/cache
      - ./volume/media/movie/:/media/movie
      - ./volume/media/tv/:/media/tv
    ports:
      - 127.0.0.1:8096:8096
  autot-transmission:
    image: lscr.io/linuxserver/transmission
    container_name: autot-transmission
    restart: "no"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Vientiane
      - USER=transmission
      - PASS=transmission
    volumes:
      - ./volume/transmission/config:/config
      - ./volume/transmission/watch:/watch
      - ./volume/downloads:/downloads
    ports:
      - 127.0.0.1:9091:9091
