-r requirements.txt
-r requirements.txt
black==24.10.0
codespell==2.3.0
flake8==7.1.1
ipython==8.30.0
isort==5.13.2
pylint-django==2.6.1
python-dotenv==1.0.1
requirementscheck==0.0.3
types-pytz==2024.2.0.20241003
types-requests==2.32.0.20241016
