@import 'tailwindcss';

@theme {
  --color-main-bg: #00202f;
  --color-main-fg: #f0d4ac;
  --color-accent-1: #e33b26;
  --color-accent-2: #e56936;
  --color-accent-3: #018f9c;
  --font-display: Alef-Regular;
  --font-bold: Alef-Bold;
  --font-heading: Righteous;
}

@font-face {
  font-family: 'Righteous';
  src: url('../assets/font/Righteous-Regular.ttf');
  font-family: 'Righteous';
}

@font-face {
  font-family: 'Alef-Bold';
  src: url('../assets/font/Alef-Bold.ttf');
  font-family: 'Alef-Bold';
}

@font-face {
  font-family: 'Alef-Regular';
  src: url('../assets/font/Alef-Regular.ttf');
  font-family: 'Alef-Regular';
}

.filter-bar {
  @apply bg-accent-3 py-2 px-4 mb-4 flex gap-2 items-center;
}
