* {
  margin: 0;
  padding: 0;
}

@font-face {
font-family: 'Righteous';
  src:  url('../public/font/Righteous-Regular.ttf');
  font-family: 'Righteous';
}

@font-face {
font-family: 'Alef-Bold';
  src:  url('../public/font/Alef-Bold.ttf');
  font-family: 'Alef-Bold';
}

@font-face {
font-family: 'Alef-Regular';
  src:  url('../public/font/Alef-Regular.ttf');
  font-family: 'Alef-Regular';
}

:root {
  --main-bg: #00202f;
  --main-fg: #f0d4ac;
  --accent-1: #e33b26;
  --accent-2: #e56936;
  --accent-3: #018f9c;
}

body {
  background-color: var(--main-bg);
  color: var(--main-fg);
  font-family: Alef-Regular;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: var(--accent-1);
  padding: 1rem 0;
  flex-shrink: 0;
  text-align: center;
}

h1 {
  margin: 1rem 0;
  font-family: Righteous;
  text-transform: uppercase;
}

h2 {
  margin: 10px 0;
  font-family: Righteous;
}

h3 {
  font-family: Alef-Bold;
  margin-bottom: 7px;
}

a {
  text-decoration: none;
  color: var(--accent-2);
}

button, select, input {
  color: var(--main-fg);
  background-color: var(--accent-1);
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
}

button:hover {
  background-color: var(--accent-2);
}

.main {
  flex-grow: 1;
  margin: 2rem 5rem;
}

.boxed-content {
  max-width: 1200px;
  margin: auto;
}

.smaller {
  font-size: 0.9rem;
}

.pointer {
  cursor: pointer;
}

.image-wrap {
  position: relative;
}

.progress-bar-background {
  position: absolute;
  width: 100%;
  background-color: var(--accent-1);
  bottom: 0;
}

.progress-bar {
  text-align: center;
  background-color: var(--accent-2);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav img {
  width: 180px;
}

.secondary-nav {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.nav-items {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-item {
  padding: 10px;
  border-bottom: var(--accent-1) solid 2px;
  color: var(--main-fg);
  min-width: 70px;
  text-align: center;
}

.nav-item:hover {
  color: var(--main-fg);
  background-color: var(--accent-2);
}

.tile-description {
  text-align: center;
}

.tile-description.active {
  background-color: var(--accent-3);
}

.show-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 1rem;
}

.show-item img,
.season-item img,
.episode-item img {
  width: 100%;
}

.season-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  gap: 1rem;
}

.episode-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 1rem;
}

.show-detail, .season-detail {
  padding: 1rem;
  margin: 1rem 0;
  border: var(--accent-1) solid 2px;
}

.show-detail-header {
  display: flex;
  align-items: center;
}

.show-poster img {
  max-width: 150px;
}

.show-description {
  margin: 1rem;
}

.tag-group {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.tag-item {
  background-color: var(--accent-3);
  padding: 5px 10px;
  margin: 5px;
}
