* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: #333333;
  --main-fg: #999999;
  --highlight-dark: #1e1e1e;
  --highlight-light: #4a90e2;
  --highlight-light-2: #666666;
  --signal: #ef4b46;
}

body {
  background-color: var(--main-bg);
  color: var(--main-fg);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: var(--highlight-dark);
  padding: 1rem 0;
  flex-shrink: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--highlight-light);
}

.main {
  flex-grow: 1;
  margin: 2rem 5rem;
}

.boxed-content {
  max-width: 1200px;
  margin: auto;
}

.smaller {
  font-size: 0.9rem;
}

.pointer {
  cursor: pointer;
}

.nav-items {
  margin: 1rem 0;
}

.nav-item {
  padding: 1rem;
}

.nav-item:hover {
  background-color: var(--highlight-light-2);
}

.crumb::after {
  content: '>';
}

.show-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 1rem;
}

.show-item img,
.season-item img,
.episode-item img {
  width: 100%;
}

.season-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  gap: 1rem;
}

.episode-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 1rem;
}

.show-detail {
  padding: 1rem;
  margin: 1rem 0;
  border: var(--highlight-light) solid 1px;
}

.show-detail-header {
  display: flex;
  align-items: center;
}

.show-poster img {
  max-width: 150px;
}

.show-description {
  margin: 1rem;
}

.tag-group {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.tag-group * {
  background: var(--highlight-light);
  color: var(--highlight-dark);
  padding: 5px;
  border: none;
}
