* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: #00202f;
  --main-fg: #f0d4ac;
  --accent-1: #e33b26;
  --accent-2: #e56936;
  --accent-3: #018f9c;
}

body {
  background-color: var(--main-bg);
  color: var(--main-fg);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: var(--accent-1);
  padding: 1rem 0;
  flex-shrink: 0;
  text-align: center;
}

h1 {
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: var(--accent-2);
}

.main {
  flex-grow: 1;
  margin: 2rem 5rem;
}

.boxed-content {
  max-width: 1200px;
  margin: auto;
}

.smaller {
  font-size: 0.9rem;
}

.pointer {
  cursor: pointer;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav img {
  width: 180px;
}

.secondary-nav {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.nav-items {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-item {
  padding: 10px;
  border-bottom: var(--accent-1) solid 1px;
  color: var(--main-fg);
  min-width: 70px;
  text-align: center;
}

.nav-item:hover {
  color: var(--main-fg);
  background-color: var(--accent-2);
}

.crumb::after {
  content: '>';
}

.show-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 1rem;
}

.show-item img,
.season-item img,
.episode-item img {
  width: 100%;
}

.season-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  gap: 1rem;
}

.episode-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 1rem;
}

.show-detail {
  padding: 1rem;
  margin: 1rem 0;
  border: var(--accent-1) solid 1px;
}

.show-detail-header {
  display: flex;
  align-items: center;
}

.show-poster img {
  max-width: 150px;
}

.show-description {
  margin: 1rem;
}

.tag-group {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.tag-group * {
  background: var(--accent-3);
  color: var(--accent-2);
  padding: 5px;
  border: none;
}
