* {
  margin: 0;
  padding: 0;
}

@font-face {
font-family: 'Righteous';
  src:  url('../public/font/Righteous-Regular.ttf');
  font-family: 'Righteous';
}

@font-face {
font-family: 'Alef-Bold';
  src:  url('../public/font/Alef-Bold.ttf');
  font-family: 'Alef-Bold';
}

@font-face {
font-family: 'Alef-Regular';
  src:  url('../public/font/Alef-Regular.ttf');
  font-family: 'Alef-Regular';
}

:root {
  --main-bg: #00202f;
  --main-fg: #f0d4ac;
  --accent-1: #e33b26;
  --accent-2: #e56936;
  --accent-3: #018f9c;
}

body {
  background-color: var(--main-bg);
  color: var(--main-fg);
  font-family: Alef-Regular;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: var(--accent-1);
  padding: 1rem 0;
  flex-shrink: 0;
  text-align: center;
}

h1 {
  margin: 1rem 0;
  font-family: Righteous;
  text-transform: uppercase;
}

h2 {
  margin: 10px 0;
  font-family: Righteous;
  text-transform: uppercase;
}

h3 {
  font-family: Alef-Bold;
  margin-bottom: 7px;
}

a {
  text-decoration: none;
  color: var(--accent-2);
}

p {
  margin-bottom: 5px;
}

button, select, input {
  color: var(--main-fg);
  background-color: var(--accent-1);
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
}

button:hover {
  background-color: var(--accent-2);
}

.main {
  flex-grow: 1;
  margin: 2rem 5rem;
}

.boxed-content {
  max-width: 1200px;
  margin: auto;
}

.smaller {
  font-size: 0.9rem;
}

.pointer {
  cursor: pointer;
}

.text-blob {
  background-color: var(--accent-3);
  padding: 1rem;
  word-break: break-all;
}

.image-wrap,
.progress-wrap {
  position: relative;
}

.progress-wrap {
  height: 20px;
}

.progress-bar-background {
  position: absolute;
  width: 100%;
  background-color: var(--accent-1);
  bottom: 6px;
}

.progress-bar {
  text-align: center;
  background-color: var(--accent-2);
  color: var(--main-fg);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav img {
  width: 180px;
}

.secondary-nav {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.nav-items {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-item {
  padding: 10px;
  border-bottom: var(--accent-1) solid 2px;
  color: var(--main-fg);
  min-width: 70px;
  text-align: center;
}

.nav-item:hover {
  color: var(--main-fg);
  background-color: var(--accent-3);
}

.nav-item.active {
  background-color: var(--accent-2);
}

.login-wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.login-elements {
  width: 200px;
}

.login-elements form div {
  padding: 3px 0;
}

.login-wrapper img {
  width: 200px;
  max-width: 80%;
}

.tile-description {
  text-align: center;
}

.tile-description.active {
  background-color: var(--accent-3);
}

.show-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 1rem;
}

.show-item img,
.season-item img,
.episode-item img {
  width: 100%;
}

.season-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  gap: 1rem;
}

.episode-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 1rem;
}

.show-detail, .season-detail {
  padding: 1rem;
  margin: 1rem 0;
  border: var(--accent-1) solid 2px;
}

.show-detail-header {
  display: flex;
  align-items: center;
}

.show-poster img {
  max-width: 150px;
}

.show-description,
.episode-description {
  margin: 1rem;
}

.tag-group {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  align-items: center;
}

.tag-item {
  background-color: var(--accent-3);
  padding: 5px 10px;
  border-radius: 5px;
}

.episode-detail-header {
  display: flex;
}

.episode-detail-header img {
  max-width: 500px;
}

.episode-nav-container {
  position: relative;
  width: 100%;
}

.episode-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.episode-nav > * {
  flex: 1;
}

.first-nav {
  text-align: right;
  padding-right: 1rem;
}

.next-nav {
  text-align: left;
  padding-left: 1rem;
}

.separator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.manual-search input {
  width: 400px;
}

.manual-search-results {
  max-height: 50vh;
  overflow: scroll;
}

.manual-search-item {
  border: var(--accent-1) solid 2px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.keyword-table {
  padding: 5px 0 10px 0;
}

.keyword-table th {
  background-color: var(--accent-3);
  padding: 5px 1rem;
  text-align: left;
}

.keyword-table tr {
  padding: 10px 0;
}

.keyword-table td:nth-child(1),
.keyword-table td:nth-child(2) {
  min-width: 150px;
}
